<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
	   <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
	   <!--xmlns:context="http://www.springframework.org/schema/context"-->
	   <!--xmlns:mvc="http://www.springframework.org/schema/mvc"-->
	   <!--xmlns:jaxrs="http://cxf.apache.org/jaxrs"-->
	   <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
	<!--http://www.springframework.org/schema/beans/spring-beans-3.0.xsd-->
	<!--http://www.springframework.org/schema/mvc-->
	<!--http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  	-->
	<!--http://www.springframework.org/schema/context-->
	<!--http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs-common.xsd">-->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.octavianionel" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>



	<!-- Initialization for data source -->
	<bean id="dataSource"
		  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/formvalidation"/>
		<property name="username" value="root"/>
		<property name="password" value="mypassword"/>
	</bean>

	<!-- Definition for studentJDBCTemplate bean -->
	<bean id="userJDBCTemplate"
		  class="com.octavianionel.UserJDBCTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<jaxrs:server id="restService" address="/">
		<jaxrs:serviceBeans>
			<ref bean="restBean" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="restBean" class="com.octavianionel.RESTService" />

</beans>